<li>
        <p>
        <%= comment.content%>
        <%if(locals.user ){%>
            <small>
                <a href="/comments/destroy/<%=comment.id%>">Delete</a>
            </small>
        <%}%>
        <br>
        <small> <%= comment.user.email%></small>
       </p> 
</li>