#home-container{
    display: flex;
    color:white;
    justify-content: space-between;
    #feed-posts{
        width:70%;
        padding:20px;
        height: 100%;
        border-right:2px solid black;

        h2{
            color:white;
            text-align: center;
        }

        #new-post-form{
            width:90%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            textarea{
                width: 90%;
                border:none;
                outline:none;
                height:4rem;
                margin-bottom: 10px;
            }

            #submit-btn{
                height:25px;
                width: 60px;
                background-color: orange;
                color: whitesmoke;
                font-size: 1rem;
                border-radius: 5px;
                padding: 2px 4px 2px 4px;
                outline:none;

                &:hover{
                    cursor: pointer;
                }
                &:active{
                    outline: none;
                    border: none;
                    transform: scale(0.95);
                }
            }
        }

        #posts-list-container{
            width: 90%;
            ul{
                list-style: none;
            }
        }
    }

    
}
.users-list-wrapper{
    width:30%;
    text-align: center;
    .users-list{
        text-align:center;
        width:inherit;
        margin: auto;
        a{
            color: coral;
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
        }
    }
}

