#sign-up{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1{
        color:white;
    }
    
    form{
        h2{
            color:rgb(17, 236, 17);
        }
        padding:10px 5px 10px 5px;
        background-color: yellow;
        width:60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            display: flex;
            justify-content: space-between;
            width:50%;
            label{
                color:black;
            }
            input{
                width: 250px;
                margin-bottom: 15px;
            }
        }
        .submit-btn{
            width:100px;
            margin-top: 30px;
            height: 30px;
            font-size: 1rem;
            font-weight: 600;
            background: linear-gradient(red,blue);
            color: antiquewhite;
        } 
    }
    p{
        font-family: 500;
        font-size: 1.2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        a{
            text-decoration: none;
            color: whitesmoke;
        }
    }
}