#home-container {
  display: flex;
  color: white;
  justify-content: space-between; }
  #home-container #feed-posts {
    width: 70%;
    padding: 20px;
    height: 100%;
    border-right: 2px solid black; }
    #home-container #feed-posts h2 {
      color: white;
      text-align: center; }
    #home-container #feed-posts #new-post-form {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #home-container #feed-posts #new-post-form textarea {
        width: 90%;
        border: none;
        outline: none;
        height: 4rem;
        margin-bottom: 10px; }
      #home-container #feed-posts #new-post-form #submit-btn {
        height: 25px;
        width: 60px;
        background-color: orange;
        color: whitesmoke;
        font-size: 1rem;
        border-radius: 5px;
        padding: 2px 4px 2px 4px;
        outline: none; }
        #home-container #feed-posts #new-post-form #submit-btn:hover {
          cursor: pointer; }
        #home-container #feed-posts #new-post-form #submit-btn:active {
          outline: none;
          border: none;
          transform: scale(0.95); }
    #home-container #feed-posts #posts-list-container {
      width: 90%; }
      #home-container #feed-posts #posts-list-container ul {
        list-style: none; }

.users-list-wrapper {
  width: 30%;
  text-align: center; }
  .users-list-wrapper .users-list {
    text-align: center;
    width: inherit;
    margin: auto; }
    .users-list-wrapper .users-list a {
      color: coral;
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold; }
